@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap");

* {
  margin: 0;
}

:root {
  --primary-color: #f472b6;
  --logo-color: white;
  --primary-label-color: black;
}

.body {
  font-family: "Poppins", sans-serif;
}

#brand-logo {
  height: 36px;
  width: 36px;
}

#branding {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

#branding p {
  color: var(--logo-color);
  font-weight: 600;
  font-size: 12px;
}

nav {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  height: 82px;
  border-radius: 0 0 0.75rem 0.75rem;
}

nav div p {
  font-size: small;
}

nav ul {
  display: flex;
  margin-right: 20px;
  list-style: none;
  gap: 32px;
  align-items: flex-end;
  margin-bottom: 10px;
}

nav ul li button {
  background-color: var(--primary-color);
  border-style: none;
  color: white;
  font: inherit;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  height: 2rem;
  padding-top: 1rem;
}

footer ul {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

footer li {
  list-style: none;
}

footer img {
  max-width: 2rem;
  max-height: 2rem;
}
